
.container {
    width: 400px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
	background-color:#d7dbde;
}

.block {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

